.list-group-item{
    cursor: pointer;
}

.text{
    margin-left: 4%;
}

.right-arrow{
    float: right;
}

.list-group-item:hover{
    animation: move 0.8s forwards;
}

.responsive-titles{
    display: none;
}

@keyframes move{
    0%{
        background-color: white;
    }
    50%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: black;
        color: white;
    }
}

.black{
    background-color: black !important;
    color: white;
}

@media screen and (max-width:1085px){
    .responsive-titles{
        display: block;
        text-align: center;
        font-size: 45px;
    }

    .list-group-item{
        font-size: 15px;
    }

    .item-icon{
        display: none;
    }

    .right-arrow{
        display: none;
    }
}